*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{

    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #d2b7fe00, #b90000d9);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.img{
    width: 150px;
    height: 100px;
    margin: 15px auto;
}

.logo{
    text-align: center;
}

.lista-salas{
	display:none;
    
    width: 70%; 
    height: 30%;
    padding: 10px;
    border: solid 3px #fff;
    margin: 15px auto;
    border-radius: 15px;
    align-items: center;
    
}

#mensagens-sala{

	display:none;
    width: 70%; 
    height: 30%;
    padding: 10px;
    border: solid 2px #fff;
    align-items: center;
    margin: 15px auto;
    border-radius: 15px;
}

#cria-sala{
	display:none;
}

#botaoSair{
    text-align: center;
    width: 85%;
    margin: 15px auto;
    margin-top: 15px ;
    margin: 15px 15px 15px 15px;

}
